<footer>
    <p>&copy; 2025 Lily Basket. All rights reserved.</p>
    <section class="socials">
        <a href="https://instagram.com/brinyavalos">
            <img src="/Images/video.png" alt="Instagram logo">
        </a>
        <a href="https://www.linkedin.com/in/bavaloso/">
            <img src="/Images/linkedin.png" alt="LinkedIn logo">
        </a>
        <a href="https://github.com/brinyavalos">
            <img src="/Images/github.png" alt="GitHub logo">
        </a>
    </section>
</footer>
</body>
</html>