<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lily Basket</title>
    <link rel="icon" type="image/png" href="/public/Images/flower.png">
    <link rel="stylesheet" href="/styles/main.css"> 
</head>
<body>
<header>
    <div role="navigation" id="navigation">
        <a href="/"><img src="/Images/flower.png" alt="Lily Basket Logo" id="logo"></a>
        <div id="search_bar">
            <form action="/items/search" method="GET">
                <input type="text" name="q" placeholder="Search items">
                <button type="submit">Search</button>
            </form>
        </div>
        <nav id="nav_bar_buttons">
            <a href="/">Home</a>
            <a href="/items">Browse</a>
            <a href="/new">Custom</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </nav>
    </div>
</header>
