    <%- include('./partials/header.ejs') %>
    
    <main>
        <section id="hero">
            <h1>Welcome to the Flower Marketplace</h1>
            <p>Find the perfect floral arrangement for any occasion.</p>
            <div class="button-container">
                <a href="/items" class="hero-button">Start browsing</a>
            </div>
        </section>
    
        <section class="content">
            <h2>Discover Beautiful Flower Arrangements</h2>
            <p>Whether you're celebrating, expressing love, or brightening someone's day, we offer a wide variety of flowers crafted into beautiful baskets.</p>
        </section>
    
        <section id="image-grid">
            <img src="/Images/flower1.jpeg" alt="Flower Basket 1">
            <img src="/Images/flower2.jpeg" alt="Flower Basket 2">
            <img src="/Images/flower3.jpeg" alt="Flower Basket 3">
        </section>
    
        <section class="content">
            <h3>Care Instructions:</h3>
            <ol id="care">
                <li>Trim 1 inch off the stems at an angle.</li>
                <li>Place them into lukewarm water with the included flower food.</li>
                <li>Change the water every 3 days to keep flowers fresh.</li>
                <li>Keep away from direct sunlight and heat.</li>
            </ol>
        </section>
    </main>
    
    <%- include('./partials/footer.ejs') %>